/* Dialog Backdrop */
.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Darker backdrop for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Dialog Content */
.dialog-content {
    background-color: #cec9c9;
    padding: 20px;
    border-radius: 10px; /* Smoother edges */
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

/* Dialog Header */
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    cursor: pointer;
    border: none;
    background-color: black; /* Mac-style close button color */
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recommended Movie Card */
.recommended-movie-card {
    display: flex;
    margin-bottom: 20px;
    background: gainsboro; /* Light background for each card */
    padding: 10px;
    border-radius: 8px;
}

.recommended-movie-poster {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.recommended-movie-info h3 {
    margin-top: 0;
    color: #333;
}

/* Actions */
.recommended-movie-actions {
    display: flex;
    margin-top: 10px;
}

.action-button {
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 20px; /* Rounded buttons */
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transform */
}

.action-button:hover {
    transform: translateY(-2px); /* Slight lift on hover */
}

.liked {
    background-color: #28a745; /* Bootstrap green */
}

.disliked {
    background-color: #dc3545; /* Bootstrap red */
}

/* Refresh Button */
.refresh-button {
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: fit-content; /* Auto-adjust width to content */
    margin: 0 auto; /* Center the button horizontally */
    transition: background-color 0.2s, transform 0.2s;
}

.refresh-button:hover {
    background-color: #0056b3; /* Darker on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.dialog-body {
    max-height: 500px; /* Adjust based on your preference */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 20px; /* Space before the refresh button */
}
